<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Template with 640x384</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div class="grid-horizontal">

</div>

<div class="vertical-display">
    <div class="grid-header">

    </div>
    <div class="grid-calendar">
        <span class="dateblock head">#</span>
        <span class="dateblock head">Mo</span>
        <span class="dateblock head">Di</span>
        <span class="dateblock head">Mi</span>
        <span class="dateblock head">Do</span>
        <span class="dateblock head">Fr</span>
        <span class="dateblock head">Sa</span>
        <span class="dateblock head">So</span>

        <span class="dateblock">44</span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock">1</span>

        <span class="dateblock">45</span>
        <span class="dateblock">2</span>
        <span class="dateblock">3</span>
        <span class="dateblock">4</span>
        <span class="dateblock">5</span>
        <span class="dateblock">6</span>
        <span class="dateblock">7</span>
        <span class="dateblock">8</span>

        <span class="dateblock">46</span>
        <span class="dateblock">9</span>
        <span class="dateblock">10</span>
        <span class="dateblock">11</span>
        <span class="dateblock">12</span>
        <span class="dateblock">13</span>
        <span class="dateblock">14</span>
        <span class="dateblock">15</span>

        <span class="dateblock">47</span>
        <span class="dateblock">16</span>
        <span class="dateblock">17</span>
        <span class="dateblock">18</span>
        <span class="dateblock">19</span>
        <span class="dateblock">20</span>
        <span class="dateblock">21</span>
        <span class="dateblock">22</span>

        <span class="dateblock">48</span>
        <span class="dateblock">23</span>
        <span class="dateblock">24</span>
        <span class="dateblock">25</span>
        <span class="dateblock">26</span>
        <span class="dateblock">27</span>
        <span class="dateblock">28</span>
        <span class="dateblock">29</span>

        <span class="dateblock">49</span>
        <span class="dateblock">30</span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
    </div>
</div>


</body>
</html>