<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Template with 640x384</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<img src="../7in5.bmp"/>

<div class="vertical-display">
    <div class="grid-header">
        <span class="header-text today">Heute ist Sonntag,</span>
        <span class="header-text today">der 01. November 2020</span>
        <span class="spacer"></span>
        <span class="header-text time">Es ist jetzt nachmittags</span>
        <span class="header-text time">Viertel vor Vier</span>
        <span class="spacer"></span>
        <span class="header-text time">Heute gibt es keine Termine</span>
    </div>
    <div class="grid-header four-rows">
        <span class="header-text month-year">November 2020</span>
    </div>
    <div class="grid-calendar">
        <span class="dateblock head weeknr">#</span>
        <span class="dateblock head">Mo</span>
        <span class="dateblock head">Di</span>
        <span class="dateblock head">Mi</span>
        <span class="dateblock head">Do</span>
        <span class="dateblock head">Fr</span>
        <span class="dateblock head weekend">Sa</span>
        <span class="dateblock head weekend">So</span>

        <span class="dateblock weeknr">44</span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock weekend">1</span>

        <span class="dateblock weeknr">45</span>
        <span class="dateblock">2</span>
        <span class="dateblock">3</span>
        <span class="dateblock">4</span>
        <span class="dateblock">5</span>
        <span class="dateblock">6</span>
        <span class="dateblock weekend">7</span>
        <span class="dateblock weekend">8</span>

        <span class="dateblock weeknr">46</span>
        <span class="dateblock">9</span>
        <span class="dateblock">10</span>
        <span class="dateblock">11</span>
        <span class="dateblock">12</span>
        <span class="dateblock">13</span>
        <span class="dateblock weekend">14</span>
        <span class="dateblock weekend">15</span>

        <span class="dateblock weeknr">47</span>
        <span class="dateblock">16</span>
        <span class="dateblock">17</span>
        <span class="dateblock">18</span>
        <span class="dateblock">19</span>
        <span class="dateblock">20</span>
        <span class="dateblock weekend">21</span>
        <span class="dateblock weekend">22</span>

        <span class="dateblock weeknr">48</span>
        <span class="dateblock">23</span>
        <span class="dateblock">24</span>
        <span class="dateblock">25</span>
        <span class="dateblock">26</span>
        <span class="dateblock">27</span>
        <span class="dateblock weekend">28</span>
        <span class="dateblock weekend">29</span>

        <span class="dateblock weeknr">49</span>
        <span class="dateblock">30</span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
        <span class="dateblock none"></span>
    </div>
</div>


</body>
</html>