<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Template with 640x384</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<img src="../7in5.bmp"/>

<div class="vertical-display">
    <div class="grid-header calendar-separator">
        Heute
    </div>
    <div class="grid-header">
        <span class="header-text today">Freitag,</span>
        <span class="header-text today">der 20. November 2020</span>
        <span class="spacer"></span>
        <span class="header-text time">Vormittags</span>
        <span class="header-text time">Viertel nach Zehn</span>
        <span class="spacer"></span>
        <span class="header-text">Es gibt keine Termine</span>
    </div>
    <div class="grid-header calendar-separator">
        November 2020
    </div>
    <div class="grid-calendar">
        <span class="dateblock head weeknr">#</span>
        <span class="dateblock head">Mo</span>
        <span class="dateblock head">Di</span>
        <span class="dateblock head">Mi</span>
        <span class="dateblock head">Do</span>
        <span class="dateblock head">Fr</span>
        <span class="dateblock head weekend">Sa</span>
        <span class="dateblock head weekend">So</span>

        <span class="dateblock weeknr">44</span>
        <span class="dateblock othermonth">26</span>
        <span class="dateblock othermonth">27</span>
        <span class="dateblock othermonth">28</span>
        <span class="dateblock othermonth">29</span>
        <span class="dateblock othermonth">30</span>
        <span class="dateblock othermonth">31</span>
        <span class="dateblock weekend">1</span>

        <span class="dateblock weeknr">45</span>
        <span class="dateblock">2</span>
        <span class="dateblock">3</span>
        <span class="dateblock">4</span>
        <span class="dateblock">5</span>
        <span class="dateblock">6</span>
        <span class="dateblock weekend">7</span>
        <span class="dateblock weekend">8</span>

        <span class="dateblock weeknr">46</span>
        <span class="dateblock">9</span>
        <span class="dateblock">10</span>
        <span class="dateblock">11</span>
        <span class="dateblock">12</span>
        <span class="dateblock">13</span>
        <span class="dateblock weekend">14</span>
        <span class="dateblock weekend">15</span>

        <span class="dateblock weeknr">47</span>
        <span class="dateblock">16</span>
        <span class="dateblock">17</span>
        <span class="dateblock">18</span>
        <span class="dateblock">19</span>
        <span class="dateblock today">20</span>
        <span class="dateblock weekend">21</span>
        <span class="dateblock weekend">22</span>

        <span class="dateblock weeknr">48</span>
        <span class="dateblock">23</span>
        <span class="dateblock">24</span>
        <span class="dateblock">25</span>
        <span class="dateblock">26</span>
        <span class="dateblock">27</span>
        <span class="dateblock weekend">28</span>
        <span class="dateblock weekend">29</span>

        <span class="dateblock weeknr">49</span>
        <span class="dateblock">30</span>
        <span class="dateblock othermonth">1</span>
        <span class="dateblock othermonth">2</span>
        <span class="dateblock othermonth">3</span>
        <span class="dateblock othermonth">4</span>
        <span class="dateblock othermonth">5</span>
        <span class="dateblock othermonth">6</span>
    </div>
</div>

<div class="vertical-display">
    <div class="grid-header calendar-separator">
        Heute
    </div>
    <div class="grid-header">
        <span class="header-text today">Samstag,</span>
        <span class="header-text today">der 01. Februar 2021</span>
        <span class="spacer"></span>
        <span class="header-text time">Vormittags</span>
        <span class="header-text time">Viertel nach Zehn</span>
        <span class="spacer"></span>
        <span class="header-text">Es gibt keine Termine</span>
    </div>
    <div class="grid-header calendar-separator">
        ____________________
    </div>
    <div class="grid-calendar">
        <span class="dateblock head weeknr">#</span>
        <span class="dateblock head">Mo</span>
        <span class="dateblock head">Di</span>
        <span class="dateblock head">Mi</span>
        <span class="dateblock head">Do</span>
        <span class="dateblock head">Fr</span>
        <span class="dateblock head weekend">Sa</span>
        <span class="dateblock head weekend">So</span>

        <span class="dateblock weeknr">5</span>
        <span class="dateblock">1</span>
        <span class="dateblock">2</span>
        <span class="dateblock">3</span>
        <span class="dateblock">4</span>
        <span class="dateblock">5</span>
        <span class="dateblock weekend">6</span>
        <span class="dateblock weekend">7</span>

        <span class="dateblock weeknr">6</span>
        <span class="dateblock">8</span>
        <span class="dateblock">9</span>
        <span class="dateblock">10</span>
        <span class="dateblock">11</span>
        <span class="dateblock">12</span>
        <span class="dateblock weekend">13</span>
        <span class="dateblock weekend">14</span>

        <span class="dateblock weeknr">7</span>
        <span class="dateblock">15</span>
        <span class="dateblock">16</span>
        <span class="dateblock">17</span>
        <span class="dateblock">18</span>
        <span class="dateblock">19</span>
        <span class="dateblock weekend">20</span>
        <span class="dateblock weekend">21</span>

        <span class="dateblock weeknr">8</span>
        <span class="dateblock">22</span>
        <span class="dateblock">23</span>
        <span class="dateblock">24</span>
        <span class="dateblock">25</span>
        <span class="dateblock today">26</span>
        <span class="dateblock weekend">27</span>
        <span class="dateblock weekend">28</span>
    </div>
</div>

</body>
</html>