body {
    background-color: darkgray;
    font-family: "Roboto";
}

.vertical-display {
    width: 384px;
    height: 640px;
    margin: 1rem;
    background: lightgray;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.grid-header {
    flex-grow: 2;
    margin: 8px;
    display: grid;
    background: white;
    grid-template-columns: repeat(auto-fill, 8px);
    grid-template-rows: repeat(auto-fill, 8px);
    grid-auto-flow: row;
}

.calendar-separator {
    background: black;
    color: white;
    max-height: 48px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

span.header-text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-area: span 4 / span 46;
    font-size: 20px;
}

span.today {
    font-size: 24px;
}

span.time {
    font-size: 24px;
}

span.month-year {
    font-size: 24px;
    font-family: "Roboto Black";
    grid-area: span 4 / span 46;

}

span.spacer {
    grid-area: span 2 / span 46;
}

.grid-calendar {
    flex-grow: 2;
    display: grid;
    background: white;
    grid-template-columns: repeat(auto-fill, 8px);
    grid-template-rows: repeat(auto-fill, 8px);
    grid-auto-flow: row;
    margin-bottom: 8px;
}

span.dateblock {
    text-align: center;
    grid-area: span 5 / span 6;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    font-family: "Roboto Medium";
    font-size: 22px;
    /*border-bottom: 1px dotted black;*/
}

span.dateblock.weekend {
    font-family: "Roboto Black";
    -webkit-font-smoothing: none;
    border-bottom: 1px dotted black;
}


span.dateblock.head {
    grid-area: span 4 / span 6;
    font-family: "Roboto";
    font-size: 16px;
    padding-bottom: 0 !important;
    border-bottom: none;
    background: black;
    color: white;
    margin: 0;
    align-items: center;
}

span.dateblock.none {
    border-bottom: none;
}

span.dateblock.weeknr {
    font-family: "Roboto";
    border: none;
    font-size: 14px;
    padding-bottom: 4px;
}

span.dateblock.othermonth {
    font-family: "Roboto";
    border: none;
    font-size: 12px;
    padding-bottom: 6px;
}